html, body {
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(232,225,214);
    background: linear-gradient(90deg, rgba(232,225,214,1) 10%, rgba(255,164,0,1) 90%);
}

.page-header {
    margin-top:4rem;
    font-size:1.25rem;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.feature {
    color:white;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    margin-bottom:  1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color:whitesmoke;
}

.gallery img {
    border-radius:5%;
}

img {
    height: 100px;
    width: 100px;
}

#header-image {
    height:400px;
    width:650px;
}

.logo-images {
    height:80px;
    width:80px;
}

#header-image-2 {
    height:400px;
    width:400px;
}

.gallery-images {
    width:400px;
    height:500px;
}

.services-images {
    width:400px;
    height:400px;
}
.gallery img {
    border-radius:5%;
}
.services {
    color:white;
}
footer {
    color:white;
    font-size:1rem;
    margin:0;
    padding:1rem;

}
a {
    color: white;
    text-decoration: none;
}